.items{
    position: absolute;
    top: 5.5rem;
    right: 1.5rem;
    width: 140px;
    padding: 20px 30px;
    border-radius: 8px;
    background-color: #ffff;
    animation-name: open;
    animation-duration: 1ms;
    border: 1px solid gray;
    
}

.inner_wrap{
    line-height: 2;
}

/* .items::before{
    content: '';
    position: absolute;
    top: -0.7rem;
    right: 1.1rem;
    width: 20px;
    height: 20px;
    background-color: #ffff;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
} */

/* .items{

  
   border-radius: 5px;
   padding: 6px 10px;
   line-height: 2;
   flex-direction: column;
   background-color: whitesmoke;
   animation-name: open;
   animation-duration: 1ms;
   padding: 10% 7%;


} */


@keyframes open {
    from {opacity: 0;}
    to {opacity: 1;}

}
    
