@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mende+Kikakui&display=swap');

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans Mende Kikakui', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

.gradient-bg-hero {
  background: rgb(236,222,233);
  background: linear-gradient(83deg, rgba(236,222,233,1) 25%, rgba(238,241,247,1) 55%, rgba(208,240,245,1) 81%);
  padding: 1% 0%;
    
    
}




.gradient-bg-artworks {
  background-color: white;

}


.artwork-wrap{
  padding: 8% 0% ;
}

.gradient-bg-footer {
  
  background-image: radial-gradient(
      at 0% 100%,
      hsl(0deg 39% 30%) 0,
      transparent 53%
    ),
    radial-gradient(at 50% 150%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}

.text-gradient {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lds-dual-ring {
  display: inline-block;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
 
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.main-create-wrap{
  display: flex;
  justify-content: center;
   align-items: center;
   height: 110vh; 

   


}

.menu-modal{
  padding: 10% 15%;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
}

.modal-wrap{
  padding: 0% 15%;
  
  
  
}

.modal-inner-wrap{
  padding: 5%

  


}


@media screen and (max-width: 900px) {

  .modal-wrap{
    padding: 0%;
    
  }

 
  .mobile-adress-btn{
    display: none
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;